.card{
    height:13rem;
    width: 13rem;
    margin-left:1.5rem;
    margin-top: 20px;
}

.card >img{
    height: 13rem;
    width: 14rem;
    border-radius: 5px;
    margin-left: -12px;
}
