.nav{
    display: flex;
    height: 5rem;
    width: 100% auto;
    background-color: rgba(0, 0, 0, 0.907);
    color: aliceblue;
    margin-left: -3rem;
    box-shadow: 0px 10px 5px rgb(255, 255, 255);
}
.content{
    margin-top: 30px;
    color: whitesmoke;
    font-size: 24px;
    margin-left: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav_img img{
    margin-top: 12px;   
    margin-left: 250px;
    height: 50px;
    width: 50px;
}

.content{
    font-family: cursive;
}

.nav_img2 img{
    margin-top: 12px;   
    margin-left: 620px;
    height: 50px;
    width: 50px;
}