.popup{
    height: 20rem;
    width: 60rem;
    background-color: rgba(0, 0, 0, 0.605);
    margin-top: 30px;
    margin-left: 20%;
    border-radius: 4px;
}

.pop_img img{
    height: 20rem;
    width: 20rem;
}